@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,492;1,492&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,492;1,492&family=Varela+Round&display=swap');
.moreinfo{
    background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
    font-family: "Varela Round", sans-serif;
    font-weight:500;
    font-style:normal;
    font-size: x-large;
    color: rgb(0, 0, 0);
    margin: 1rem;
    padding: 0.5rem;
    text-align: justify;
    border-radius: 1px 10px 1px 10px;
}
.hireme {
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(108, 51, 177, 0.815);
    padding: 5px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}
.contactlinks{
    display: flex;
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
}

.contactlinks img {
    display: block;
    width: 30px;
    height: 30px;
    
  }
  .exphead{
    text-align: center;
    width: max-content;
    margin: auto;
    word-break: keep-all;
    
  }
  .detail{
    background-color:inherit;
    margin: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.respo p:nth-child(even){
    background: linear-gradient(90deg, #ffffff 0%, #d9e7ff 100%);
    padding: 3px;
    border-radius: 5px;
    margin: 4px;
    width: auto;
}
.respo p:nth-child(odd){
    background: linear-gradient(90deg, #ef9a9a 0%, #d9e7ff 100%);
    padding: 3px;
    border-radius: 5px;
    width: auto;
}
.expmain{
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    padding: 2px;
    border-radius: 5px;
    text-align: left;
    width: fit-content;
}
.job{
    background: linear-gradient(90deg, #ef9a9a 0%, #d9e7ff 100%) ;
    margin: 3px;
    padding: 4px;
    border-radius: 5px;
}
@media screen and (max-width:412px){
.moreinfo{
    font-size: large;
    font-weight: 300;
    
}
}