*{
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
}
a:any-link{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: large;
   
}

.container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: minmax(70px,auto) auto auto auto auto;
    row-gap: 2px;
}
